<header>


	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('app_home') }}">SymBNB</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path('ads_index') }}">Annonces</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto">
					{% if app.user %}

						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="accountDropdownLink">
								<img src="{{ app.user.picture }}" alt="Avatar de {{app.user.fullName}}" class="avatar avatar-mini">
								{{app.user.fullName}}
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{path('ads_create')}}">Créer une annonce</a>
								<div class="dropdown-divider" href=""></div>
								<a class="dropdown-item" href="{{path('account_index')}}">Mon compte</a>
								<a class="dropdown-item" href="{{path('account_profile')}}">Modifier mon profil</a>
								<div class="dropdown-divider" href=""></div>
								<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
							</div>
						</li>						

					{% else %}
						<li class="nav-item">
							<a href="{{ path('app_register') }}" class="nav-link">Inscription</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
						</li>


					{% endif %}

				</ul>
			</div>
		</div>
	</nav>

	{% for label, messages in app.flashes %}
		<div class="container">
			<div class="alert alert-{{ label }}">
				{% for message in messages %}
					<p class="mb-0">
						{{ message|raw }}
					</p>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</header>
